
html{
  scroll-behavior: smooth;
}

body{
background-color: rgba(4, 16, 51);
font-size: 18px;
margin: 0;
padding: 0;
}

h1{
font-size: 50px;
line-height: 1;
text-align: center;
}


h2{
font-size: 32px;
line-height: 1.5;
}

nav ul{
display: flex;
}

nav li{
display: inline;
padding-right: 20px;
}

nav {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;

}  

.links{
  display: flex;
  flex-direction: column;
}

header p{
color: #FFFFFF;
font-size: 20px;
padding: 0 100px;
text-align: center;
}

footer{
background-color: rgba(4, 16, 51);
color: #FFFFFF;
padding-top: 10px;
text-align: center;
}

footer p{
margin: auto;
text-align: center;
padding-bottom: 25px;
}

.MERC-image{
text-align: center;
}

nav{
  color: white;
}

nav a{
color: white;
font-weight: bold;
text-decoration: none;
text-align: center;
}

a:hover{
text-decoration: underline;
}

nav .links a.active{
  text-decoration: underline;
  text-transform: uppercase;
  color: #e9c550;
}



.skip a{
background: #FFFFFF;
left: 0;
padding: 6px;
-webkit-transition: top 1s ease-out;
transition: top 1s ease-out;
z-index: 1;
position: absolute;
top: -40px;
}

.skip a:focus{
top: 0;
position: absolute;
}



*:focus{
border: 2px solid;
}


.flex1{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  }




header{
color: #FFFFFF;
height: 400px; /* Parallax effect */
background: url("../Images/Rossb.png");
overflow: scroll;
background-attachment: fixed; /* Parallax effect */
background-position: center; /* Parallax effect */
background-size: cover; /* Parallax effect */
color: white;
height: 400px; /* Parallax effect */
font-weight: bold;

}

*{
  font-family: "Nunito", "sans serif";

}



.structure-image{
max-height: 700px;
overflow: scroll;
position: relative;
color: #FFFFFF;
}



.origins-image{
max-height: 700px;
overflow: scroll;
color: #FFFFFF;
}



.recruitment-image{
max-height: 700px;
overflow: scroll;
color: #FFFFFF;

}



.guide-image{
max-height: 700px;
overflow: hidden;
align-items: center;
color: #FFFFFF;

}

.grid12 div:nth-child(1):after{
  content: "1️⃣";

}

.grid12 img:nth-child(1):after{
  content: "1️⃣";

}

.grid12 div:nth-child(2):after{
  content: "1️⃣";

}

.grid12 div:nth-child(3):after{
  content: "1️⃣";

}

.grid12 div:nth-child(4):after{
  content: "2️⃣";

}

.grid12 div:nth-child(5):after{
  content: "2️⃣";

}

.grid12 div:nth-child(6):after{
  content: "2️⃣";

}

.grid12 div:nth-child(7):after{
  content: "2️⃣";

}

.grid12 div:nth-child(8):after{
  content: "2️⃣";

}

.grid12 div:nth-child(9):after{
  content: "2️⃣";

}

.grid12 div:nth-child(10):after{
  content: "2️⃣";

}

.grid12 div:nth-child(11):after{
  content: "2️⃣";

}

.grid12 div:nth-child(12):after{
  content: "2️⃣";

}

.grid12 div:nth-child(13):after{
  content: "2️⃣";

}

.grid12 div:nth-child(14):after{
  content: "2️⃣";

}



h1{
  color: white;
}

.grid12{
  color: white;
}



#application{
  overflow: scroll;
  display: grid;
  grid-column: 1 / -1;
  color: #FFFFFF;
  border: solid 10px black;
  
}

#google{
  width: 400px;
  height: 1000px;
}

#application h1{
  text-align: left;

}

#contact{
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: left;
  color: #FFFFFF;
  border: solid 10px black;
  
}

#contact h1{
  text-align: left;

}

#contact a{
  color: #FFFFFF;
}

.flip-card {
  background-color: transparent;
  background-image: cover;
  width: 400px;
  height: 280px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgba(4, 16, 51);
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: darkcyan;
  color: white;
  transform: rotateY(180deg);
}


@media only screen and (min-width: 900px) {

  .flip-card {
    background-color: transparent;
    width: 400px;
    height: 280px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: darkcyan;
    color: white;
    transform: rotateY(180deg);
  }

  nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items:center;

  } 
  
  .links{
    display: flex;
    flex-direction: row;
  }

  
    #structure{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    }

    .grid12{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      color: white;
      border: solid 10px black;
      }
    
    .flex1{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: flex-end;
      }
    
    
    header{
    
    background: url("../Images/Rossb.png"), rgba(4, 16, 51);
    overflow: scroll;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Parallax effect */
    background-position: center; /* Parallax effect */
    background-size: cover; /* Parallax effect */
    color: white;
    height: 400px; /* Parallax effect */
    font-weight: bold;
    
    }

    header p{
      color: white;
    }
    
    
    .structure-image{
      grid-column: 1 / 2;
      max-height: 700px;
      overflow: scroll;
      position: relative;
      grid-row: 2 / span 1;
      color: #FFFFFF;
      border: solid 10px black;
      }

      .structure-image img{
        width: 75%;
        height: 60%;
        transition: width 1s;
      }

      .structure-image img:hover{
        width: 100%;
        animation-name: example;
        animation-duration: 7s;
      }
      
      @keyframes example {
        from {filter: grayscale(100%);}
        to {filter: grayscale(0%);}
      }

      .origins-image{
      grid-column: 2 / 3;
      max-height: 700px;
      overflow: scroll;
      grid-row: 2 / span 1;
      color: #FFFFFF;
      border: solid 10px black;
      }

      .origins-image img{
        width: 75%;
        height: 60%;
        transition: width 1s;
      }

      .origins-image img:hover{
        width: 100%;
      }


      
      
      
      .recruitment-image{
      grid-column: 1 / 2;
      max-height: 700px;
      overflow: scroll;
      grid-row: 3 / span 1;
      color: #FFFFFF;
      border: solid 10px black;
      
      }

      .recruitment-image img{
        width: 75%;
        height: 60%;
        transition: width 1s;
      }

      .recruitment-image img:hover{
        width: 100%;
      }
      
      
      
      .guide-image{
      grid-column: 2 / 4;
      max-height: 700px;
      overflow: scroll;
      align-items: center;
      grid-row: 3 / span 1;
      color: #FFFFFF;
      border: solid 10px black;
      
      }
      
      .guide-image img{
        width: 75%;
        height: 60%;
        transition: width 1s;
      }

      .guide-image img:hover{
        width: 100%;
      }
    
    .text-block{
    background-color: rgba(255, 255, 255, .8);
    border: 10px solid black;
    padding: 5px;
    position: right;
    overflow: scroll;
    
    }

    
    h1{
      color:white;
    }
    #toby{
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      text-align: center;
      border: solid 10px black;
      overflow: hidden;
    }

    #toby img{
      width: 300px;
      height: 400px;
    }

    #miles{
      grid-column: 2 / 3;
      text-align: center;
      border: solid 10px black;
    }

    #miles img{
      width: 300px;
      height: 400px;
    }

    #alan{
      grid-column: 3 / 4;
      text-align: center;
      border: solid 10px black;
    }

    #alan img{
      width: 300px;
      height: 400px;
    }

  /* First Row */

    #chase{
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      text-align: center;
      border: solid 10px black;
    }

    #chase img{
      width: 300px;
      height: 400px;
    }

    #josh{
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      text-align: center;
      border: solid 10px black;
    }

    #josh img{
      width: 300px;
      height: 400px;
    }

    #he{
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      text-align: center;
      border: solid 10px black;
    }

    #he img{
      width: 300px;
      height: 400px;
    }

/* Second Row */
    #lev{
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      text-align: center;
      border: solid 10px black;
    }

    #lev img{
      width: 300px;
      height: 400px;
    }

    #julia{
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      text-align: center;
      border: solid 10px black;
    }

    #julia img{
      width: 300px;
      height: 400px;
    }

    #lindsey{
      grid-column: 3 / 4;
      grid-row: 3 / 4;
      text-align: center;
      border: solid 10px black;
    }

    #lindsey img{
      width: 300px;
      height: 400px;
    }


    /* Third Row */

    #tristan{
      grid-column: 1 / 2;
      grid-row: 4 / 5;
      text-align: center;
      border: solid 10px black;
    }

    #tristan img{
      width: 300px;
      height: 400px;
    }

    #raymond{
      grid-column: 2 / 3;
      grid-row: 4 / 5;
      text-align: center;
      border: solid 10px black;
    }

    #raymond img{
      width: 300px;
      height: 400px;
    }

    #ashini{
      grid-column: 3 / 4;
      grid-row: 4 / 5;
      text-align: center;
      border: solid 10px black;
    }

    #ashini img{
      width: 300px;
      height: 400px;
    }

    /* Fourth Row */

    #fallan{
      grid-column: 1 / 2;
      grid-row: 5 / 6;
      text-align: center;
      border: solid 10px black;
    }

    #fallan img{
      width: 300px;
      height: 400px;
    }

    #noah{
      grid-column: 2 / 3;
      grid-row: 5 / 6;
      text-align: center;
      border: solid 10px black;
    }

    #noah img{
      width: 300px;
      height: 400px;
    }


    
    #application{
      overflow: scroll;
      display: grid;
      grid-column: 1 / -1;
      color: #FFFFFF;
      border: solid 10px black;
      
    }
    
    #google{
      width: 400px;
      height: 1000px;
    }
    
    #application h1{
      text-align: left;
    
    }
    
    #contact{
      overflow: scroll;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: left;
      color: #FFFFFF;
      border: solid 10px black;
      
    }


    
    #contact h1{
      text-align: left;
    
    }
    
    #contact a{
      color: #FFFFFF;
    }

    .flip-card-front img{

    }
}

@media only screen and (min-width: 1300px) {

  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 400px;
  height: 280px;
  border: 1px solid #f1f1f1;
  background-size: cover;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgba(4, 16, 51);
  background-size: cover;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: darkcyan;
  color: white;
  transform: rotateY(180deg);
}

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items:center;

  } 
  
  .links{
    display: flex;
    flex-direction: row;
  }

  
    #structure{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    }

    .grid12{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      color: white;
      border: solid 10px black;
      }
    
    .flex1{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      }
    
    
    
    header{ 
    color: white;
    background: url("../Images/Rossb.png"), rgba(4, 16, 51);
    overflow: scroll;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Parallax effect */
    background-position: center; /* Parallax effect */
    background-size: cover; /* Parallax effect */
    height: 400px; /* Parallax effect */
    font-weight: bold;
    
    }

    header p{
      color: white;
      font-weight: bold;
    }
    
    
    .structure-image{
      grid-column: 1 / -1;
      max-height: 700px;
      overflow: scroll;
      position: relative;
      grid-row: 3 / span 1;
      color: #FFFFFF;
      border: solid 10px black;
      }

      .structure-image img{
        width: 75%;
        height: 100%;
        transition: width 1s;
      }

      .structure-image img:hover{
        width: 90%;
        animation-name: example;
        animation-duration: 7s;
      }
      
      @keyframes example {
        from {filter: grayscale(100%);}
        to {filter: grayscale(0%);}
      }

      .origins-image{
      grid-column: 1 / 2;
      max-height: 700px;
      overflow: scroll;
      grid-row: 2 / span 1;
      color: #FFFFFF;
      border: solid 10px black;
      }

      .origins-image img{
        width: 90%;
        height: 60%;
        transition: width 1s;
      }

      .origins-image img:hover{
        width: 100%;
      }


      
      
      
      .recruitment-image{
      grid-column: 2 / 3;
      max-height: 700px;
      overflow: scroll;
      grid-row: 2 / span 1;
      color: #FFFFFF;
      border: solid 10px black;
      
      }

      .recruitment-image img{
        width: 90%;
        height: 60%;
        transition: width 1s;
      }

      .recruitment-image img:hover{
        width: 100%;
      }
      
      
      
      .guide-image{
      grid-column: 3 / 4;
      max-height: 700px;
      overflow: scroll;
      align-items: center;
      grid-row: 2 / span 1;
      color: #FFFFFF;
      border: solid 10px black;
      
      }
      
      .guide-image img{
        width: 90%;
        height: 60%;
        transition: width 1s;
      }

      .guide-image img:hover{
        width: 100%;
      }
    
    .text-block{
    background-color: rgba(255, 255, 255, .8);
    border: 10px solid black;
    padding: 5px;
    position: right;
    overflow: scroll;
    
    }

    
    h1{
      color:white;
    }
    #toby{
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      text-align: center;
      border: solid 10px black;
      overflow: hidden;
    }

    #toby img{
      width: 300px;
      height: 400px;
      animation: fadeIn 5s;
      -webkit-animation: fadeIn 5s;
      -moz-animation: fadeIn 5s;
      -o-animation: fadeIn 5s;
      -ms-animation: fadeIn 5s;
    }

    @keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }

    #miles{
      grid-column: 2 / 3;
      text-align: center;
      border: solid 10px black;
    }

    #miles img{
      width: 300px;
      height: 400px;
      animation: fadeIn 5s;
      -webkit-animation: fadeIn 5s;
      -moz-animation: fadeIn 5s;
      -o-animation: fadeIn 5s;
      -ms-animation: fadeIn 5s;
    }

    @keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }

    #alan{
      grid-column: 3 / 4;
      text-align: center;
      border: solid 10px black;
    }

    #alan img{
      width: 300px;
      height: 400px;
      animation: fadeIn 5s;
      -webkit-animation: fadeIn 5s;
      -moz-animation: fadeIn 5s;
      -o-animation: fadeIn 5s;
      -ms-animation: fadeIn 5s;
    }

  /* First Row */

    #chase{
      grid-column: 4 / 5;
      grid-row: 1 / 2;
      text-align: center;
      border: solid 10px black;
    }

    #chase img{
      width: 300px;
      height: 400px;
      animation: fadeIn 5s;
      -webkit-animation: fadeIn 5s;
      -moz-animation: fadeIn 5s;
      -o-animation: fadeIn 5s;
      -ms-animation: fadeIn 5s;
    }

    #josh{
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      text-align: center;
      border: solid 10px black;
    }

    #josh img{
      width: 300px;
      height: 400px;
      animation: fadeIn 5s;
      -webkit-animation: fadeIn 5s;
      -moz-animation: fadeIn 5s;
      -o-animation: fadeIn 5s;
      -ms-animation: fadeIn 5s;
    }

    #he{
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      text-align: center;
      border: solid 10px black;
    }

    #he img{
      width: 300px;
      height: 400px;
      animation: fadeIn 5s;
      -webkit-animation: fadeIn 5s;
      -moz-animation: fadeIn 5s;
      -o-animation: fadeIn 5s;
      -ms-animation: fadeIn 5s;
    }

/* Second Row */
    #lev{
      grid-column: 2 / 3;
      grid-row: 4 / 5;
      text-align: center;
      border: solid 10px black;
    }

    #lev img{
      width: 300px;
      height: 400px;
      animation: fadeIn 5s;
      -webkit-animation: fadeIn 5s;
      -moz-animation: fadeIn 5s;
      -o-animation: fadeIn 5s;
      -ms-animation: fadeIn 5s;
    }


    #julia{
      grid-column: 4 / 5;
      grid-row: 2 / 3;
      text-align: center;
      border: solid 10px black;
    }

    #julia img{
      width: 300px;
      height: 400px;
      animation: fadeIn 5s;
      -webkit-animation: fadeIn 5s;
      -moz-animation: fadeIn 5s;
      -o-animation: fadeIn 5s;
      -ms-animation: fadeIn 5s;
    }

    #lindsey{
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      text-align: center;
      border: solid 10px black;
    }

    #lindsey img{
      width: 300px;
      height: 400px;
      animation: fadeIn 5s;
      -webkit-animation: fadeIn 5s;
      -moz-animation: fadeIn 5s;
      -o-animation: fadeIn 5s;
      -ms-animation: fadeIn 5s;
    }


    /* Third Row */

    #tristan{
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      text-align: center;
      border: solid 10px black;
    }

    #tristan img{
      width: 300px;
      height: 400px;
      animation: fadeIn 5s;
      -webkit-animation: fadeIn 5s;
      -moz-animation: fadeIn 5s;
      -o-animation: fadeIn 5s;
      -ms-animation: fadeIn 5s;
    }

    #raymond{
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      text-align: center;
      border: solid 10px black;
    }

    #raymond img{
      width: 300px;
      height: 400px;
      animation: fadeIn 5s;
      -webkit-animation: fadeIn 5s;
      -moz-animation: fadeIn 5s;
      -o-animation: fadeIn 5s;
      -ms-animation: fadeIn 5s;
    }

    #ashini{
      grid-column: 4 / 5;
      grid-row: 3 / 4;
      text-align: center;
      border: solid 10px black;
    }

    #ashini img{
      width: 300px;
      height: 400px;
      animation: fadeIn 5s;
      -webkit-animation: fadeIn 5s;
      -moz-animation: fadeIn 5s;
      -o-animation: fadeIn 5s;
      -ms-animation: fadeIn 5s;
    }

    /* Fourth Row */

    #fallan{
      grid-column: 3 / 4;
      grid-row: 3 / 4;
      text-align: center;
      border: solid 10px black;
    }

    #fallan img{
      width: 300px;
      height: 400px;
      animation: fadeIn 5s;
      -webkit-animation: fadeIn 5s;
      -moz-animation: fadeIn 5s;
      -o-animation: fadeIn 5s;
      -ms-animation: fadeIn 5s;
    }

    #noah{
      grid-column: 1 / 2;
      grid-row: 4 / 5;
      text-align: center;
      border: solid 10px black;
    }

    #noah img{
      width: 300px;
      height: 400px;
      animation: fadeIn 5s;
      -webkit-animation: fadeIn 5s;
      -moz-animation: fadeIn 5s;
      -o-animation: fadeIn 5s;
      -ms-animation: fadeIn 5s;
    }


    
    #application{
      overflow: scroll;
      display: grid;
      grid-column: 1 / -1;
      color: #FFFFFF;
      border: solid 10px black;
      
    }
    
    #google{
      width: 400px;
      height: 1000px;
    }
    
    #application h1{
      text-align: left;
    
    }
    
    #contact{
      overflow: scroll;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: left;
      color: #FFFFFF;
      border: solid 10px black;
      
    }


  .grid12 img:last-child{
      opacity: 1.2%;
  
  }

}




/** Code for prefers reduced motion **/
/* Make no changes below this line.
 *************************************** 
 */
@media screen and (prefers-reduced-motion: reduce){
/*Turn off scroll*/
html{
    scroll-behavior: auto; /* Removes scroll animation */
}

/*Turn off transition*/
.skip a{
  -webkit-transition: initial; /* sets to default setting */
  transition: initial; /* sets to default setting */
}

.structure-image img{
  -webkit-transition: initial;
  transition: initial;

}

.structure-image img{
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}


.guide-image img{
  -webkit-transition: initial;
  transition: initial;

}

.recruitment-image img{
  -webkit-transition: initial;
  transition: initial;

}

.origins-image img{
  -webkit-transition: initial;
  transition: initial;

}

.flip-card:hover .flip-card-inner {
  transform: rotateY(0deg);
}




/*Turn off parallax*/
header{
  background-attachment: initial;
}
}